body {
  background-color: hsl(250, 20%, 30%);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;
  text-align: center;
}

hr {
  border: 1px solid white;
  width: 100%;
}

img {
  cursor: pointer;
  margin-top: 8px;
  vertical-align: middle;
}

.options {
  background-color: hsl(225, 30%, 40%);
  border: solid lightgrey;
  border-radius: 32px;
  color: lightgrey;
  cursor: pointer;
  font-family: inherit;
  font-size: 24px;
  height: 32px;
  position: relative;
  top: 0px;
  transition: 0.15s background-color;
  width: 128px;
}

.options:active {
  animation: up 0.25s infinite;
  background-color: lightgrey;
  color: hsl(225, 30%, 40%);
}

@keyframes up {
  from {
    top: 0px;
  }
  to {
    top: -5px;
  }
}
